<!-- 
<form action="home" method="post">
  {% csrf_token %}

  <div class="container">
    <h1>Welcome to Dream11</h1>
    <hr>
    <label for="name"><b>Enter your Name</b></label>
    <input type="text" placeholder="Enter Your Name" name="name" required>

    <label for="email"><b>Enter your Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="player_name"><b>Predict Player</b></label>
    <input type="text" placeholder="Enter Email" name="player_name" required>

    <hr>

    <button onclick="location.href='{% url 'home' %}'" type="submit" class="home">Predict</button>
  </div>
  
</form> -->

{% load static %}
<link rel="stylesheet" href='{% static "home.css" %}' />
{% load static %}
  <script src="{% static 'home.js' %}" type="text/javascript"></script>  

<div class="user">
  <header class="user__header">
    {% load static %} 
    <img src='{% static "Untitled.png" %}' alt="Hi!" />
      
  </header>
  
  <form action="home" method="POST">


      {% csrf_token %}

      {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
      <div class="form__group">
          <input type="text" placeholder="Dream11 Username" name="name" class="form__input" required/>
      </div>
      
      <div class="form__group">
          <input type="email" placeholder="Enter Valid Email" name="email" class="form__input" required/>
      </div>
      
      <div class="form__group">
        <select class="form__input" id="id_team_name" name="team_name" required>
          <option selected disabled selected>Select Team</option>
          <option value="Chennai Super Kings" >Chennai Super Kings</option>
          <option value="Delhi Capitals">Delhi Capitals</option>
          <option value="Kings XI Punjab">Kings XI Punjab</option>
          <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
          <option value="Mumbai Indians">Mumbai Indians</option>
          <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
          <option value="Rajasthan Royals">Rajasthan Royals</option>
          <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
        </select>
      </div>
      <div class="form__group">
          
        <input type="text" placeholder="Who will be the Man of the Match?" name="player_name" class="form__input" required/>
    </div>
      
    <button class= "buttn" onclick="location.href='{% url 'home' %}'" type="submit" class="home">Predict</button>
  </form>
</div>